## Data Science Nigeria Staff Promotion Algorithm
Author:üßïüèø Hasanat Owoseni\
Date : 25th September, 2019

### STEPS 
1. Import Libraies and Dataset
2. Merge the data set together (train and test)
3. change the way the column names are formatted: (uppercases to samller), no special char except underscore

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### The Dataset

In [3]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [4]:
df_train.head(3)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312 entries, 0 to 38311
Data columns (total 19 columns):
EmployeeNo                             38312 non-null object
Division                               38312 non-null object
Qualification                          36633 non-null object
Gender                                 38312 non-null object
Channel_of_Recruitment                 38312 non-null object
Trainings_Attended                     38312 non-null int64
Year_of_birth                          38312 non-null int64
Last_performance_score                 38312 non-null float64
Year_of_recruitment                    38312 non-null int64
Targets_met                            38312 non-null int64
Previous_Award                         38312 non-null int64
Training_score_average                 38312 non-null int64
State_Of_Origin                        38312 non-null object
Foreign_schooled                       38312 non-null object
Marital_Status                         38312 non-null object
Past_Disciplinary_Action               38312 non-null object
Previous_IntraDepartmental_Movement    38312 non-null object
No_of_previous_employers               38312 non-null object
Promoted_or_Not                        38312 non-null int64
dtypes: float64(1), int64(7), object(11)
memory usage: 5.6+ MB

In [6]:
df_test.head(3)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00005,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,YAK/S/00011,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,YAK/S/00015,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16496 entries, 0 to 16495
Data columns (total 18 columns):
EmployeeNo                             16496 non-null object
Division                               16496 non-null object
Qualification                          15766 non-null object
Gender                                 16496 non-null object
Channel_of_Recruitment                 16496 non-null object
Trainings_Attended                     16496 non-null int64
Year_of_birth                          16496 non-null int64
Last_performance_score                 16496 non-null float64
Year_of_recruitment                    16496 non-null int64
Targets_met                            16496 non-null int64
Previous_Award                         16496 non-null int64
Training_score_average                 16496 non-null int64
State_Of_Origin                        16496 non-null object
Foreign_schooled                       16496 non-null object
Marital_Status                         16496 non-null object
Past_Disciplinary_Action               16496 non-null object
Previous_IntraDepartmental_Movement    16496 non-null object
No_of_previous_employers               16496 non-null object
dtypes: float64(1), int64(6), object(11)
memory usage: 2.3+ MB

### Dataframe merging 
The test data frame doesn't include the Promoted_or_not column. \
The reason I'm merging it is so I can easily clean the test and train dataframe as a dataframe which is faster\ 
rather  than cleaning them individually.\

Hence, I will be adding the missing column `promoted_or_not` column. Populate it with a constant : `15`

In [8]:
 df_test['Promoted_or_Not'] = 15

In [16]:
df = pd.concat([df_train, df_test])

In [17]:
#remove the irregularity in the dataframe's column using string methods
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [19]:
df.head(3)

,employeeno,division,qualification,gender,channel_of_recruitment,trainings_attended,year_of_birth,last_performance_score,year_of_recruitment,targets_met,previous_award,training_score_average,state_of_origin,foreign_schooled,marital_status,past_disciplinary_action,previous_intradepartmental_movement,no_of_previous_employers,promoted_or_not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54808 entries, 0 to 16495
Data columns (total 19 columns):
employeeno                             54808 non-null object
division                               54808 non-null object
qualification                          52399 non-null object
gender                                 54808 non-null object
channel_of_recruitment                 54808 non-null object
trainings_attended                     54808 non-null int64
year_of_birth                          54808 non-null int64
last_performance_score                 54808 non-null float64
year_of_recruitment                    54808 non-null int64
targets_met                            54808 non-null int64
previous_award                         54808 non-null int64
training_score_average                 54808 non-null int64
state_of_origin                        54808 non-null object
foreign_schooled                       54808 non-null object
marital_status                         54808 non-null object
past_disciplinary_action               54808 non-null object
previous_intradepartmental_movement    54808 non-null object
no_of_previous_employers               54808 non-null object
promoted_or_not                        54808 non-null int64
dtypes: float64(1), int64(7), object(11)
memory usage: 8.4+ MB

## Dealing with Missing Values
All the columns (features) except qualification have complete values\
Let's view the rows with missing values

In [25]:
df[df['qualification'].isnull()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2409 entries, 15 to 16469
Data columns (total 19 columns):
employeeno                             2409 non-null object
division                               2409 non-null object
qualification                          0 non-null object
gender                                 2409 non-null object
channel_of_recruitment                 2409 non-null object
trainings_attended                     2409 non-null int64
year_of_birth                          2409 non-null int64
last_performance_score                 2409 non-null float64
year_of_recruitment                    2409 non-null int64
targets_met                            2409 non-null int64
previous_award                         2409 non-null int64
training_score_average                 2409 non-null int64
state_of_origin                        2409 non-null object
foreign_schooled                       2409 non-null object
marital_status                         2409 non-null object
past_disciplinary_action               2409 non-null object
previous_intradepartmental_movement    2409 non-null object
no_of_previous_employers               2409 non-null object
promoted_or_not                        2409 non-null int64
dtypes: float64(1), int64(7), object(11)
memory usage: 376.4+ KB

In [27]:
df[df['qualification'].isnull()]

,employeeno,division,qualification,gender,channel_of_recruitment,trainings_attended,year_of_birth,last_performance_score,year_of_recruitment,targets_met,previous_award,training_score_average,state_of_origin,foreign_schooled,marital_status,past_disciplinary_action,previous_intradepartmental_movement,no_of_previous_employers,promoted_or_not
15,YAK/S/00022,Customer Support and Field Operations,NaN,Male,Direct Internal process,2,1980,10.0,2008,0,0,49,RIVERS,Yes,Married,No,No,1,0
22,YAK/S/00033,Commercial Sales and Marketing,NaN,Female,Direct Internal process,2,1997,2.5,2017,0,0,40,EDO,Yes,Married,No,No,1,0
28,YAK/S/00044,Commercial Sales and Marketing,NaN,Male,Agency and others,4,1997,5.0,2017,0,0,40,CROSS RIVER,Yes,Married,No,No,1,0
60,YAK/S/00091,Commercial Sales and Marketing,NaN,Female,Direct Internal process,2,2001,0.0,2018,0,0,47,ZAMFARA,Yes,Single,No,No,2,0
137,YAK/S/00190,Customer Support and Field Operations,NaN,Female,Agency and others,2,1988,10.0,2010,0,0,56,LAGOS,Yes,Single,No,No,5,0
168,YAK/S/00232,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1999,10.0,2017,0,0,43,LAGOS,Yes,Single,No,No,0,0
198,YAK/S/00278,Information and Strategy,NaN,Male,Direct Internal process,2,1990,7.5,2015,0,0,77,LAGOS,Yes,Married,No,No,1,0
240,YAK/S/00337,Customer Support and Field Operations,NaN,Male,Agency and others,2,1973,7.5,2011,0,0,49,ADAMAWA,No,Married,No,No,0,0
253,YAK/S/00353,Customer Support and Field Operations,NaN,Female,Agency and others,2,1963,10.0,2001,1,0,52,OGUN,Yes,Married,No,No,0,0
255,YAK/S/00355,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1997,10.0,2017,0,0,43,FCT,Yes,Married,No,No,0,0
258,YAK/S/00360,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1997,5.0,2017,1,0,44,NIGER,Yes,Married,No,No,1,1
262,YAK/S/00366,Customer Support and Field Operations,NaN,Female,Direct Internal process,2,1968,7.5,2008,0,0,49,EDO,Yes,Married,No,No,0,0
284,YAK/S/00398,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1998,7.5,2017,0,0,43,OGUN,Yes,Married,No,No,1,0
331,YAK/S/00476,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1997,0.0,2018,1,0,47,LAGOS,Yes,Married,No,Yes,1,0
364,YAK/S/00515,Information and Strategy,NaN,Female,Agency and others,2,1992,10.0,2014,0,0,78,RIVERS,Yes,Married,No,No,1,0
407,YAK/S/00571,Customer Support and Field Operations,NaN,Female,Agency and others,2,1988,7.5,2010,0,0,50,OGUN,Yes,Married,No,No,1,0
419,YAK/S/00587,Commercial Sales and Marketing,NaN,Male,Direct Internal process,3,1997,0.0,2018,0,0,39,ABIA,Yes,Married,No,Yes,0,0
421,YAK/S/00590,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1994,12.5,2016,1,0,41,LAGOS,Yes,Married,No,No,2,0
435,YAK/S/00610,Customer Support and Field Operations,NaN,Male,Direct Internal process,2,1985,10.0,2016,0,0,51,GOMBE,Yes,Married,No,No,1,0
480,YAK/S/00679,Information and Strategy,NaN,Male,Agency and others,2,1990,10.0,2013,1,0,78,BORNO,Yes,Married,No,No,3,0
488,YAK/S/00691,Sourcing and Purchasing,NaN,Female,Direct Internal process,2,1984,10.0,2008,0,0,62,OGUN,Yes,Married,No,No,1,0
558,YAK/S/00794,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1998,0.0,2018,0,0,36,KANO,Yes,Single,No,No,0,0
559,YAK/S/00795,Sourcing and Purchasing,NaN,Female,Direct Internal process,2,1993,7.5,2015,0,0,60,ENUGU,Yes,Married,No,No,1,0
577,YAK/S/00818,Customer Support and Field Operations,NaN,Male,Direct Internal process,2,1994,7.5,2017,0,0,57,BENUE,Yes,Single,No,No,5,0
596,YAK/S/00844,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1992,10.0,2017,0,0,39,ABIA,Yes,Married,No,Yes,1,0
611,YAK/S/00868,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1996,10.0,2016,1,0,56,OGUN,Yes,Married,No,No,0,1
621,YAK/S/00881,Information and Strategy,NaN,Male,Agency and others,2,1995,12.5,2017,1,0,79,YOBE,Yes,Married,No,No,0,0
627,YAK/S/00888,Information and Strategy,NaN,Male,Agency and others,2,1994,0.0,2018,0,0,83,IMO,Yes,Married,No,No,0,0
632,YAK/S/00893,Customer Support and Field Operations,NaN,Female,Direct Internal process,2,1984,7.5,2010,0,0,53,LAGOS,No,Married,No,No,1,0
641,YAK/S/00904,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1995,0.0,2018,0,0,43,OGUN,Yes,Married,No,No,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15910,YAK/S/52963,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1993,0.0,2018,0,0,45,FCT,Yes,Married,No,No,1,15
15926,YAK/S/53006,Business Finance Operations,NaN,Male,Direct Internal process,2,1983,10.0,2012,1,0,49,FCT,No,Married,No,No,0,15
15927,YAK/S/53010,People/HR Management,NaN,Male,Agency and others,2,1996,0.0,2018,0,0,40,KADUNA,Yes,Married,No,No,1,15
15950,YAK/S/53089,Information and Strategy,NaN,Male,Direct Internal process,2,1995,7.5,2016,1,0,76,LAGOS,Yes,Married,No,No,4,15
15967,YAK/S/53171,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1977,2.5,2013,0,0,46,ANAMBRA,Yes,Married,No,No,1,15
15968,YAK/S/53174,Customer Support and Field Operations,NaN,Female,Direct Internal process,2,1984,12.5,2016,0,0,52,KADUNA,Yes,Married,No,No,1,15
16015,YAK/S/53350,Commercial Sales and Marketing,NaN,Male,Direct Internal process,3,1990,10.0,2013,1,0,41,DELTA,Yes,Married,No,Yes,2,15
16024,YAK/S/53397,Customer Support and Field Operations,NaN,Female,Agency and others,2,1990,12.5,2016,0,0,51,LAGOS,Yes,Married,No,No,1,15
16030,YAK/S/53432,Commercial Sales and Marketing,NaN,Female,Agency and others,2,1994,7.5,2018,1,1,42,LAGOS,Yes,Married,No,No,1,15
16046,YAK/S/53486,Information and Strategy,NaN,Male,Direct Internal process,2,1987,7.5,2017,0,0,77,YOBE,Yes,Single,No,No,1,15
16067,YAK/S/53545,Commercial Sales and Marketing,NaN,Female,Agency and others,2,1997,2.5,2017,0,0,41,KOGI,Yes,Married,No,No,4,15
16088,YAK/S/53613,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1997,10.0,2017,0,0,90,AKWA IBOM,Yes,Married,No,No,1,15
16107,YAK/S/53675,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1981,7.5,2014,1,0,45,LAGOS,Yes,Married,No,No,1,15
16141,YAK/S/53772,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1994,7.5,2015,0,0,43,OGUN,Yes,Married,No,No,0,15
16165,YAK/S/53842,Customer Support and Field Operations,NaN,Male,Direct Internal process,2,1990,7.5,2014,0,0,49,FCT,Yes,Married,No,No,3,15
16182,YAK/S/53892,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1985,7.5,2010,0,0,43,FCT,Yes,Married,No,No,5,15
16191,YAK/S/53914,Information and Strategy,NaN,Male,Direct Internal process,4,1992,7.5,2011,0,0,79,TARABA,Yes,Married,No,No,1,15
16192,YAK/S/53917,Information and Strategy,NaN,Male,Agency and others,2,1995,10.0,2017,1,0,76,LAGOS,No,Married,No,Yes,1,15
16216,YAK/S/53967,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,2000,12.5,2017,1,0,41,AKWA IBOM,Yes,Married,No,No,0,15
16218,YAK/S/53972,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1994,0.0,2018,0,0,45,KEBBI,Yes,Single,No,No,0,15
16220,YAK/S/53984,Commercial Sales and Marketing,NaN,Female,Agency and others,2,1996,0.0,2018,0,1,78,OGUN,Yes,Married,No,No,0,15
16254,YAK/S/54079,Information Technology and Solution Support,NaN,Female,Agency and others,2,1990,2.5,2013,0,0,72,ENUGU,Yes,Married,No,No,1,15
16326,YAK/S/54280,Customer Support and Field Operations,NaN,Female,Agency and others,2,1991,12.5,2014,1,0,55,FCT,Yes,Married,No,No,0,15
16351,YAK/S/54360,Sourcing and Purchasing,NaN,Female,Agency and others,2,1990,2.5,2011,0,0,63,BAUCHI,Yes,Married,No,No,1,15
16376,YAK/S/54448,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1992,0.0,2018,1,1,70,IMO,Yes,Married,No,No,0,15
16386,YAK/S/54466,Customer Support and Field Operations,NaN,Male,Direct Internal process,2,1988,12.5,2017,0,0,48,OGUN,Yes,Married,No,No,5,15
16429,YAK/S/54600,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1997,5.0,2016,0,0,40,IMO,Yes,Married,No,No,1,15
16454,YAK/S/54687,Information and Strategy,NaN,Female,Direct Internal process,2,1993,7.5,2018,0,0,78,FCT,Yes,Married,No,No,0,15
16464,YAK/S/54718,Information and Strategy,NaN,Male,Direct Internal process,2,1989,7.5,2015,0,0,78,ENUGU,Yes,Married,No,No,1,15
16469,YAK/S/54743,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1993,10.0,2016,0,0,39,ENUGU,Yes,Single,No,No,1,15

Checking the unique qualifications is next on my list

In [28]:
df['qualification'].unique()

array(['MSc, MBA and PhD', 'First Degree or HND', nan,
       'Non-University Education'], dtype=object)