## Titanic Survival : Predicitve Model Notebook
**Author**:üßïüèø Hasanat Owoseni \
**Date** : 13th October, 2019

### Building Predictive Model - Baseline Model

In [21]:
import os
import numpy as np
import pandas as pd
%matplotlib inline

In [22]:
test_df = pd.read_csv('cleaned_test.csv')
train_df = pd.read_csv('cleaned_train.csv')

In [23]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312 entries, 0 to 38311
Data columns (total 21 columns):
Unnamed: 0                                                38312 non-null int64
trainings_attended                                        38312 non-null int64
last_performance_score                                    38312 non-null float64
targets_met                                               38312 non-null int64
previous_award                                            38312 non-null int64
training_score_average                                    38312 non-null int64
no_of_previous_employers                                  38312 non-null int64
promoted_or_not                                           38312 non-null int64
age                                                       38312 non-null int64
working_for                                               38312 non-null int64
is_female                                                 38312 non-null int64
schooled_abroad                                           38312 non-null int64
is_married                                                38312 non-null int64
was_disciplined                                           38312 non-null int64
was_moved                                                 38312 non-null int64
channel_of_recruitment_Agency and others                  38312 non-null int64
channel_of_recruitment_Direct Internal process            38312 non-null int64
channel_of_recruitment_Referral and Special candidates    38312 non-null int64
qualification_First Degree or HND                         38312 non-null int64
qualification_MSc, MBA and PhD                            38312 non-null int64
qualification_Non-University Education                    38312 non-null int64
dtypes: float64(1), int64(20)
memory usage: 6.1 MB

In [79]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16496 entries, 0 to 16495
Data columns (total 20 columns):
Unnamed: 0                                                16496 non-null int64
trainings_attended                                        16496 non-null int64
last_performance_score                                    16496 non-null float64
targets_met                                               16496 non-null int64
previous_award                                            16496 non-null int64
training_score_average                                    16496 non-null int64
no_of_previous_employers                                  16496 non-null int64
age                                                       16496 non-null int64
working_for                                               16496 non-null int64
is_female                                                 16496 non-null int64
schooled_abroad                                           16496 non-null int64
is_married                                                16496 non-null int64
was_disciplined                                           16496 non-null int64
was_moved                                                 16496 non-null int64
channel_of_recruitment_Agency and others                  16496 non-null int64
channel_of_recruitment_Direct Internal process            16496 non-null int64
channel_of_recruitment_Referral and Special candidates    16496 non-null int64
qualification_First Degree or HND                         16496 non-null int64
qualification_MSc, MBA and PhD                            16496 non-null int64
qualification_Non-University Education                    16496 non-null int64
dtypes: float64(1), int64(19)
memory usage: 2.5 MB

In [24]:
train_df.head()

,Unnamed: 0,trainings_attended,last_performance_score,targets_met,previous_award,training_score_average,no_of_previous_employers,promoted_or_not,age,working_for,...,schooled_abroad,is_married,was_disciplined,was_moved,channel_of_recruitment_Agency and others,channel_of_recruitment_Direct Internal process,channel_of_recruitment_Referral and Special candidates,qualification_First Degree or HND,"qualification_MSc, MBA and PhD",qualification_Non-University Education
0,0,2,12.5,1,0,41,0,0,33,8,...,0,1,0,0,0,1,0,0,1,0
1,1,2,12.5,0,0,52,0,0,28,4,...,1,1,0,0,1,0,0,0,0,1
2,2,2,7.5,0,0,42,0,0,32,7,...,1,1,0,0,0,1,0,1,0,0
3,3,3,2.5,0,0,42,1,0,37,10,...,1,0,0,0,1,0,0,1,0,0
4,4,3,7.5,0,0,77,1,0,29,7,...,1,1,0,0,0,1,0,1,0,0

In [25]:
train_df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [80]:
test_df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [26]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312 entries, 0 to 38311
Data columns (total 20 columns):
trainings_attended                                        38312 non-null int64
last_performance_score                                    38312 non-null float64
targets_met                                               38312 non-null int64
previous_award                                            38312 non-null int64
training_score_average                                    38312 non-null int64
no_of_previous_employers                                  38312 non-null int64
promoted_or_not                                           38312 non-null int64
age                                                       38312 non-null int64
working_for                                               38312 non-null int64
is_female                                                 38312 non-null int64
schooled_abroad                                           38312 non-null int64
is_married                                                38312 non-null int64
was_disciplined                                           38312 non-null int64
was_moved                                                 38312 non-null int64
channel_of_recruitment_Agency and others                  38312 non-null int64
channel_of_recruitment_Direct Internal process            38312 non-null int64
channel_of_recruitment_Referral and Special candidates    38312 non-null int64
qualification_First Degree or HND                         38312 non-null int64
qualification_MSc, MBA and PhD                            38312 non-null int64
qualification_Non-University Education                    38312 non-null int64
dtypes: float64(1), int64(19)
memory usage: 5.8 MB

In [41]:
columns = [column for column in train_df.columns if column != 'promoted_or_not']
X = train_df[columns].values.astype('float')
y = train_df['promoted_or_not'].ravel()

In [33]:
train_df.columns

Index(['trainings_attended', 'last_performance_score', 'targets_met',
       'previous_award', 'training_score_average', 'no_of_previous_employers',
       'promoted_or_not', 'age', 'working_for', 'is_female', 'schooled_abroad',
       'is_married', 'was_disciplined', 'was_moved',
       'channel_of_recruitment_Agency and others',
       'channel_of_recruitment_Direct Internal process',
       'channel_of_recruitment_Referral and Special candidates',
       'qualification_First Degree or HND', 'qualification_MSc, MBA and PhD',
       'qualification_Non-University Education'],
      dtype='object')

In [42]:
(X.shape, y.shape)

((38312, 19), (38312,))

In [43]:
#train test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(30649, 19) (30649,)
(7663, 19) (7663,)

In [44]:
print(np.mean(y_train), np.mean(y_test))

0.08434206662533851 0.08560615946757144

### Baseline Model

In [57]:
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score

In [46]:
#creates the model
model_dummy = DummyClassifier(strategy='most_frequent', random_state = 0)
#training the model
model_dummy.fit(X_train,y_train);

In [47]:
#Basline Accuracy
print('Accuracy Score for the bseline Model : {0: .3f}'.format(model_dummy.score(X_test,y_test)))

Accuracy Score for the bseline Model :  0.914

In [81]:
def get_submission_file(model, filename):
    #converting to the matrix
    test_X = test_df.values.astype('float')
    #make predicitions
    predictions = model.predict(test_X)
    #dataframe to submit
    df_submission = pd.DataFrame({'employeeno':test_df.index, 'promoted_or_not':predictions})
    #submission file 
    df_submission.to_csv(filename, index = False)

In [82]:
get_submission_file(model_dummy, 'dummy_01.csv')

### Using Logistic Regression

In [83]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression(random_state = 0)

### Performance Metrics For Logisitic Regression Model

In [84]:
lr_model.fit(X_train, y_train);
print('Score For logistic Regression : Version 0.0.1 - {0: .2f}'. format(lr_model.score(X_test,y_test)))

C:\Users\NOTEBOOK\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Score For logistic Regression : Version 0.0.1 -  0.92

In [85]:
#ACCURACY
print('accuracy for baseline model: {0: .3f}' .format(accuracy_score(y_test, lr_model.predict(X_test))))
#CONFUSION MATRIX
print('confusion_matrix for baseline model: \n {0}' .format(confusion_matrix(y_test, lr_model.predict(X_test))))
print('precision for baseline model: {0: .3f}' .format(precision_score(y_test, lr_model.predict(X_test))))
print('recall for baseline model: {0: .3f}' .format(recall_score(y_test, lr_model.predict(X_test))))

accuracy for baseline model:  0.916
confusion_matrix for baseline model:
 [[6970   37]
 [ 609   47]]
precision for baseline model:  0.560
recall for baseline model:  0.072

In [86]:
lr_model.coef_.flatten()

array([-0.20691582,  0.05872795,  1.46681456,  1.98738583,  0.04213053,
        0.0126114 , -0.01847737,  0.02059023,  0.01153804, -0.00300061,
        0.05056141,  0.51094307,  0.        , -1.09661156, -1.09056399,
       -0.95248709, -1.16895658, -0.93879706, -1.03190901])

In [87]:
get_submission_file(lr_model, 'lr_model.csv');